{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol">
                {% for row in rows %}
                    <option>{{ row["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="share" placeholder="Shares" type="number">
        </div>
        <!-- https://stackoverflow.com/questions/2545641/how-to-submit-form-only-once-after-multiple-clicking-on-submit -->
        <button class="btn btn-primary" type="submit" onclick="this.style.visibility = 'hidden'">Buy</button>
    </form>
{% endblock %}
